<config>
  <modules>
    <Bikeexchange_Produktexport>
      <version>2.0.0</version>
    </Bikeexchange_Produktexport>
  </modules>
  <global>
    <models>
      <produktexport>
        <class>Bikeexchange_Produktexport_Model</class>
      </produktexport>
      <checkout>
        <rewrite>
          <api_resource_customer>Bikeexchange_Produktexport_Model_Api_Resource_Customer</api_resource_customer>
        </rewrite>
      </checkout>
    </models>
    <helpers>
      <produktexport>
        <class>Bikeexchange_Produktexport_Helper</class>
      </produktexport>
    </helpers>
  </global>
</config>
