<config>
  <modules>
    <Bikeexchange_Produktexport>
      <version>1.0.3</version>
    </Bikeexchange_Produktexport>
  </modules>
  <global>
    <models>
      <produktexport>
        <class>Bikeexchange_Produktexport_Model</class>
      </produktexport>
    </models>
    <helpers>
      <produktexport>
        <class>Bikeexchange_Produktexport_Helper</class>
      </produktexport>
    </helpers>
  </global>
</config>
